body {
  font-family: "Raleway", sans-serif;
  max-width: 1400px;
  box-sizing: border-box;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
}

/* Header */

h2 {
  font-size: 16px;
  font-weight: 700;
  margin-top: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  height: 19px;
  width: 61.09px;
  margin-top: 44px;
}

nav ul {
  display: flex;
  list-style: none;
  font-weight: 400;
  font-size: 16px;
}

nav li {
  display: flex;
  margin-top: 48px;
}

.accomodation {
  display: flex;
  justify-content: center;
  margin-right: 67px;
  text-decoration: none;
  color: black;
}

.activities {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
}

.activities:visited {
  color: black;
}

.activities:hover {
  color: #0065fc;
}

nav ul li a:hover {
  color: #0065fc;
  font-weight: 500;
}

/* Quand hover est actif, trigger le contenu du before */
li a:hover::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 162px;
  top: 0px;
  background-color: #0065fc;
}

/*Header Tablette*/

@media screen and (max-width: 1024px) {
}

/*Header Mobile*/

@media screen and (max-width: 768px) {
  body {
    background-color: #f2f2f2;
  }
  header {
    background-color: white;
    margin-bottom: 2px;
  }

  nav {
    display: flex;
    flex-direction: column;
  }

  nav ul {
    padding: 0;
    width: 100%;
  }

  nav li {
    justify-content: space-around;
    width: 100%;
  }

  .accomodation {
    margin-right: 0;
  }
  li a:hover::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 50%;
    left: 0;
    top: 163px;
    background-color: #0065fc;
  }
}

/* Main */

/*titre et sous titre*/

main {
  background-color: white;
}
.title {
  margin-top: 60px;
}

h1 {
  margin: 0;
  font-weight: 700;
  font-size: 22px;
}

.city {
  margin-top: 13px;
  font-weight: 400;
  font-size: 16px;
}

/* Barre de recherche*/
.search-container {
  display: flex;
  margin-top: 20px;
  width: 332px;
  height: 50px;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50px;
  background-color: #f2f2f2;
  border-radius: 15% 0 0 15%;
}

.icon-container i {
  color: black;
  font-size: 20px;
  height: 50%;
}

.search-form {
  display: flex;
  height: 100%;
  width: 282px;
}

input {
  border-left: 0;
  border-right: 0;
  border-color: #f2f2f2;
  border-style: solid;
}

.search:focus {
  outline: none;
}

input[type="text"] {
  font-size: 18px;
  background-color: white;
  flex: 1;
  font-weight: 700;
  padding-left: 10px;
}

button[type="submit"] {
  height: 100%;
  width: 100px;
  font-weight: 700;
  background-color: transparent;
  color: white;
  border: 1px solid #0065fc;
  border-radius: 0 15% 15% 0;
  background-color: #0065fc;
  font-size: 1em;
  cursor: pointer;
}

button[type="submit"] span {
  display: inline;
}

button[type="submit"] .fa-solid {
  display: none;
}

.submit {
  background-color: green;
}

/* Gestion des filtres et petit texte informatif */
.filters {
  display: flex;
  margin-top: 46px;
}

.filters p {
  font-weight: 700;
  margin-right: 52px;
}

.filters span {
  color: #0065fc;
  margin-right: 10px;
}

.filters button {
  margin-right: 20px;
  height: 48px;
  border-radius: 25px;
  font-size: 17px;
  border: 2px solid #d9d9d9;
  background-color: white;
}

.filters button:hover {
  background-color: #deebff;
}
.filtersbuttons {
  display: flex;
  /* padding: 4px 20px; */
  align-items: center;
}

.buttonfilters {
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 700;
}

.filtersbuttons span {
  font-size: 21px;
}

.information {
  display: flex;
  align-items: baseline;
  margin-top: 50px;
  max-height: 37px;
  max-width: 447px;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 400;
}

.information span {
  display: flex;
  width: 24px;
  height: 24px;
  border: 1px solid #d9d9d9;
  border-radius: 25px;
  font-size: 13px;
  align-items: center;
  justify-content: center;
  color: #0065fc;
}

/*Liste des Hebergements*/

.rating span {
  font-size: 12px;
  color: #0065fc;
}
.lodgings {
  display: flex;
  margin: auto;
  margin-top: 39px;
}

.containerlodging {
  height: auto;
  width: 65%;
  background-color: #f2f2f2;
  border-radius: 20px;
  margin-right: 40px;
  padding-top: 42px;
  padding-left: 20px;
  padding-right: 20px;
}

.titleaccomodation {
  font-size: 22px;
  margin-left: 15px;
}

.listlodging {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.lodgingtypes {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 199px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 10px grey;
  margin: auto;
  margin-bottom: 30px;
  padding: 5px;
  padding-bottom: 10px;
  text-decoration: none;
  color: black;
}

.lodgingtypes:visited {
  color: black;
}

.lodgingtypes img {
  width: 100%;
  height: 124px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.lodgingtypes p {
  font-size: 14px;
  margin: 0;
  margin-top: 9px;
}

.lodgingtypes h2 {
  margin: 0;
  margin-top: 14px;
}

.descriptionrating {
  margin-left: 10px;
}

/*Liste des suggestions*/

.suggestion {
  width: 30%;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 41px 10px 34px 10px;
}

.populartitle {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.suggestiontitle {
  font-size: 22px;
}

.populartitle span {
  color: #0065fc;
}

.listsuggestions {
  display: flex;
  flex-wrap: wrap;
  gap: 31px;
}

.suggestiontype {
  display: flex;
  width: 343px;
  height: 144px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 10px grey;
  margin: auto;
  margin-bottom: 10px;
  padding: 5px;
  position: relative;
  text-decoration: none;
  color: black;
}

.suggestiontype img {
  width: 137px;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 0 0 20px;
}

.suggestiontype div {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  margin-left: 0;
}

.suggestiontype p {
  font-size: 13px;
  margin: 0;
  font-weight: 400;
  margin-left: 10px;
}

.suggestiontype h2 {
  margin-left: 10px;
}

.suggestion .rating {
  flex-direction: row;
  position: absolute;
  bottom: 0;
  margin-bottom: 12px;
  margin-left: 10px;
}

.showingmore {
  font-size: 18px;
  margin-left: 15px;
}

/*Liste des activités*/
.activity {
  margin-top: 60px;
}
.listactivities {
  display: flex;
  gap: 20px;
}

.activitytype {
  background-color: white;
  height: 445px;
  width: 302px;
  border-radius: 20px;
  box-shadow: 1px 1px 10px grey;
  position: relative;
}

.activitytype img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.activitytype p {
  display: flex;
  position: absolute;
  bottom: 0px;
  background-color: white;
  width: 100%;
  height: 56px;
  margin: 0;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  padding-left: 19px;
}

.titleactivities {
  font-size: 22px;
}

/* Main Tablette*/

@media screen and (max-width: 1024px) {
  .lodgings {
    flex-direction: column;
  }

  .suggestion {
    width: auto;
    margin-top: 53px;
  }

  .containerlodging {
    width: auto;
    margin-right: 0;
  }

  .filters button {
    font-size: 16px;
  }
  .listsuggestions {
    gap: 0;
  }

  .lodgingtypes {
    width: 30%;
  }
  .suggestiontype {
    width: 30%;
  }

  .suggestiontype img {
    width: 106px;
  }

  .suggestiontype h2 {
    font-size: 14px;
  }

  .listactivities {
    gap: 50px;
  }
  .activitytype {
    width: 182px;
    height: 267px;
  }

  .activity p {
    box-sizing: border-box;
  }
}

/* Main Mobile*/

@media screen and (max-width: 768px) {
  Body {
    padding: 0;
    max-width: 375px;
  }

  Main {
    background-color: #f2f2f2;
  }
  .filtersresearch {
    background-color: white;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .title {
    text-align: center;
    margin-top: 1px;
    padding-top: 10px;
  }

  .search-container {
    display: flex;
    margin-top: 20px;
    width: auto;
    margin: auto;
    justify-content: center;
  }

  .information {
    text-align: center;
  }

  button[type="submit"] {
    width: 49px;
    border-radius: 0 15px 15px 0;
  }

  button[type="submit"] span {
    display: none;
  }

  button[type="submit"] .fa-solid {
    display: inline;
  }

  input[type="text"] {
    width: 200px;
  }

  .filters {
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
    max-width: 720px;
  }

  .filters p {
    margin-left: 20px;
  }

  .filtersbuttons {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    gap: 10px;
    margin: auto;
    max-width: 500px;
  }

  .buttonfilters {
    padding: 0;
    padding-left: 10px;
  }
  .filters button {
    display: flex;
    margin: auto;
    max-width: 160px;
    width: 40%;
    font-size: 11px;
    font-weight: 700;
    align-items: center;
    justify-content: flex-start;
  }

  .information {
    margin-top: 43px;
  }

  .titleaccomodation {
    margin-left: 0;
  }

  .showingmore {
    display: none;
  }

  .lodgings {
    flex-direction: column-reverse;
  }

  .containerlodging {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: auto;
    width: auto;
    background-color: white;
    border-radius: 0;
    padding: 42px 20px 0 20px;
  }

  .listlodging {
    display: flex;
    /* margin: auto; */
  }

  .lodgingtypes {
    width: 100%;
    max-width: 334px;
    height: 199px;
    margin: auto;
    margin-bottom: 12px;
  }

  .suggestion {
    margin: auto;
    background-color: #f2f2f2;
    padding: 20px 20px;
    padding-bottom: 5px;
  }

  .listsuggestions {
    gap: 10px;
  }
  .suggestiontype {
    margin: auto;
    width: 100%;
    max-width: 334px;
    padding: 0;
  }

  /* Gestion section activité display mobile */

  .activity {
    background-color: white;
    margin-top: 0;
    padding: 30px 22px 50px 22px;
  }

  .listactivities {
    flex-direction: column;
  }

  .activitytype {
    margin: auto;
    width: 100%;
    max-width: 334px;
    height: 190px;
  }

  .activitytype img {
    border-radius: 20px;
  }

  .activitytype p {
    display: flex;
    position: absolute;
    bottom: 0px;
    background-color: white;
    width: 100%;
    height: 56px;
    margin: 0;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    box-sizing: border-box;
    padding-left: 19px;
    border-radius: 0px 0px 20px 20px;
  }

  .listactivities {
    gap: 24px;
  }

  .titleactivities {
    font-size: 22px;
  }
}

/* Footer */

.quickaccess {
  display: flex;
  justify-content: space-between;
  margin-top: 61px;
  padding: 0 370px 58px 70px;
  background-color: #f2f2f2;
}

.quickaccess h3 {
  font-size: 18px;
}

.quickaccess p {
  font-size: 16px;
}

/* Footer Tablette */

@media screen and (max-width: 1024px) {
  .quickaccess {
    justify-content: space-around;
    padding: 20px 20px 0px 20px;
  }
}
/* Footer Mobile */

@media screen and (max-width: 768px) {
  .quickaccess {
    flex-direction: column;
    width: auto;
    padding: 0;
    padding-left: 30px;
    margin-bottom: 61px;
  }

  .quickaccess p {
    font-size: 16px;
    width: auto;
  }
}
